form {
  width: 500px;
}
.card-img-top {
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    justify-content: center;
  }
}

header .col-md-3.text-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.justify-content-center {
  justify-content: center;
}
